@import url(global.css);
body {
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}

header {
    width: 250px;
    height: calc(100vh - 20px);
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--foreground);
    border: 1px solid var(--secondary);
    
    color: var(--header-text);

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}
header .logo i {
    color: var(--primary);
    font-size: 30px;
}
header nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}
header nav a {
    width: auto;
    padding: 10px 20px;
    background: var(--background);
    border: none;
    border-radius: 5px;
    color: var(--primary);
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    cursor: pointer;
    transition: .2s;
}
header nav a:hover {
    background: var(--primary);
    color: var(--background);
}

main {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
main .resume {
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: var(--third);
    border: 1px solid var(--primary);
    border-radius: 10px;
    color: var(--primary);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .list-cert .search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
main .list-cert .search input {
    padding: 10px;
    background: var(--foreground);
    border-radius: 8px;
    border: none;
    outline: none;
    color: var(--text-primary);
    font-size: 16px;
}
main .list-cert .search nav button {
    padding: 10px 20px;
    background-color: var(--foreground);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: var(--primary);
    cursor: pointer;
    transition: .2s;
}
main .list-cert .search nav button:hover {
    background-color: var(--primary);
    color: var(--background);
}

main .list-cert .table {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--foreground);
    border-radius: 10px;
    border: 1px solid var(--secondary);
    color: var(--text-primary);
}
main .list-cert .table .header, main .list-cert table .rows {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
main .list-cert .table .rows {
    padding: 15px 0;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .list-cert .table .rows:last-child {
    border-bottom: 1px solid var(--secondary);
}
main .list-cert .table .header {
    border-bottom: 1px solid var(--secondary);
}
main .list-cert .table .disabled {  
    padding: 30px;
    color: var(--text-third);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .list-cert .table .disabled i {
    font-size: 40px;
}
main .list-cert .table .rows .domain-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main .list-cert .table .rows .domain-card p {
    width: 50%;
    padding: 3px 10px;
    background: var(--background);
    border-radius: 8px;
    color: var(--text-primary);
    overflow: hidden;
}



main .paginate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
main .paginate button {
    padding: 10px 20px;
    background-color: var(--foreground);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: var(--primary);
    cursor: pointer;
    transition: .2s;
}
main .paginate button:hover {
    background-color: var(--primary);
    color: var(--background);
}
main .paginate ul {
    display: flex;
    gap: 5px;
}
main .paginate ul li {
    padding: 8.5px 20px;
    background: var(--foreground);
    border-radius: 8px;

    color: var(--text-secondary);
    list-style: none;

    cursor: pointer;
    transition: .2s;
}
main .paginate ul li:hover {
    background: var(--primary);
    color: var(--background);
}